name: larascript

services:
  api:
    container_name: api
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "5000:5000"
    volumes: []
    working_dir: /app
    networks:
      - app-network

networks:
  app-network:
    external: true
    name: larascript