 
import "./bootstrap.js";

import TinkerService from '@/core/services/TinkerService.js';
import { app } from './core/services/App.js';

void (async () => {

    // Boot the application
    await TinkerService.boot({
        useTestDb: false
    });

    // Useful services for debugging
    const logger    = app('logger');
    // const db        = app('db');
    // const events    = app('events');
    // const query     = app('query');
    // const validator = app('validatorFn');
    
    // Add your code here
    logger.info("Ready to tinker!");
    
})(); 