import { AbstractProvider } from "@larascript-framework/bootstrap";

class #name#Provider extends AbstractProvider {
  
  async register(): Promise<void> {
    
  }

  async boot(): Promise<void> {
    
  }
}

export default #name#Provider;
