import { Route } from "@larascript-framework/larascript-http";

/**
* Note: Add the routes to `config/routes.config.ts`

* ```
* export const routesConfig = (): IRouter[] => ([
*    exampleRoutes(),
*    // ...
* ])
*```
*/
export default () => Route.resource({
    prefix: '/health',
    datasource: {
        modelConstructor: Model,
    },
})