import { Route } from "@larascript-framework/larascript-http";
import { Request, Response } from 'express';

/**
* Note: Add the routes to `config/routes.config.ts`

* ```
* export const routesConfig = (): IRouter[] => ([
*    exampleRoutes(),
*    // ...
* ])
*```
*/
export default () => Route.group(router => {

    router.get('index', (req: Request, res: Response) => {
        res.send({
            success: true
        })
    });

});